<div class="footer1">
    <hr />
    <footer class="py-5 bg-dark">
        <div class="row m-0">
            <div class="container col-lg-4 text-white text-center">
                <h5>Site Haritasi</h5>
                <hr />
                <p class="m-0 text-center text-white">
                    <a href="#">Hakkimizda</a><br />
                    <a href="#">En Begenilenler</a><br />
                    <a href="#">Son Yazilar</a>
                </p>
            </div>
            <div class="container col-lg-4 text-white text-center">
                <h5>Notlarim - 102</h5>
                <hr />
                <p class="m-0 text-center text-white">Copyright &copy; Your Website @DateTime.Now.Year</p>
            </div>
            <div class="container col-lg-4 text-white text-center">
                <h5>
                    <strong>E-Bulten Uyeligi</strong>
                </h5>
                <hr />
                <div class="col-md-10 ms-4 ">
                    <p class="m-0 text-center text-white">
                        Consectetur adipiscing elit fusce vel.
                    </p>
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="e-posta gonder" />
                        <span class="input-group-btn">
                            <button class="btn btn-primary" type="submit">
                                Gonder
                            </button>
                        </span>
                    </div>
                </div>

            </div>
        </div>

    </footer>
</div>


